<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some website</title>
    </head>
    <body>
        <h1>Sorry, We are on maintenance</h1>
        <p>this site is being update!!</p>
    </body>
</html>

